.button {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: $basic-green;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
}
