/* здесь используйте глобальные переменные */
// Fonts
$primary-font: "Oswald", "Arial Narrow", arial, sans-serif;
$secondary-font: "Lato", "Helvetica", arial, sans-serif;
// Colors
$basic-green:#68b738;
$basic-grey: #f2f2f2;
$basic-black: #000000;
$dark-grey: #eaeaea;
$special_dark-grey: #444444;
$basic-white: #ffffff;
$special_grey: #cdcdcd;
$special_dark-grey-2: #222222;
// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
