/* здесь используйте глобальные переменные */
// Viewports
$primary-font: "Oswald", "Arial Narrow", arial, sans-serif;
$secondary-font: "Lato", "Helvetica", arial, sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
