/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/button.scss";

/* BLOCKS */
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/advertising.scss";
@import "./blocks/diet-plans.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/product-cards.scss";
@import "./blocks/show-more.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/additional-cards.scss";
@import "./blocks/title.scss";
@import "./blocks/newsletter.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/slider.scss"
