.additional-cards {
  padding: 12px 0 19px;
  display: flex;
  flex-direction: column;
  border-top: 1 solid $special_grey;
  border-right: 1 solid $special_grey;
  border-left: 1 solid $special_grey;

  &:last-child {
    border-bottom: 1 solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    flex-flow: row wrap;
  }
}

.additional-cards__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 24px;
  }
}

.additional-cards__characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
    grid-template-columns: 167px 92px;
  }
}

.additional-cards__parameter,
.additional-cards__value {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-top: 2px;
  }
}

.additional-cards__value {
  margin-left: auto;
  margin-right: 2px;
}

.additional-cards__button {
  padding: 10px 0;
  width: 100%;
}
