.advertising {
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
}

.advertising__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.advertising__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
