.advertising {
  color: $basic-white;
  padding-top: 27px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;


  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: flex-start;
  }
}

.advertising__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px;
  text-align: center;
  z-index: 3;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin: 0 0 40px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 36px 0 40px 80px;
    z-index: 2;
    width: 38%;
  }
}

.advertising__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;
  text-align: center;
  z-index: 3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    margin: 0 0 21px 91px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
    z-index: 2;
    width: 38%;
  }
}

.advertising__image {
  width: 280px;
  height: 270px;
  display: block;
  margin: 0 auto 3px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin: -2px auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    bottom: 54px;
    left: 557px;
    top: 0;
  }
}

.advertising__link {
  padding: 10px 63px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    z-index: 2;
    width: fit-content;
    margin: -575px 0 526px 90px;
    padding: 14px 28px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 27px;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 184px 80px;
    align-self: flex-start;
    margin-top: auto;
    z-index: 2;
    max-width: 244px;
  }
}
