.advertising {
  display: flex;
  flex-direction: column;
  color: $basic-white;
  align-items: center;
  text-align: center;
  background-color: $basic-green;
  padding: 27px 20px 20px;
}

.advertising__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }
}

.advertising__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }
}

.advertising__image {
  width: 280px;
  height: 270px;
  display: block;
  margin-bottom: 3px;
}

.advertising__link {
  padding: 10px 63px;

  &:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
