.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 26px;
  padding-bottom: 26px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 59px 70px 60px 69px;
  }

  &--with-background {
    background-color: $basic-grey;
  }
}

.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 230px;
  }
}

.contacts__address {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 190px;

    & span {
      margin-top: 20px;
    }
  }
}
