.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}
