.diet-plans__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.diet-plans__item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 0 20px;

  &:last-child {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: row-reverse;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      background-color: $basic-green;
      border-radius: 50%;
      background-size: contain;
      background-position: center;
      display: inline-block;
      margin-left: auto;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-size: contain;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }

    &--slim::after {
      background-image: url("../../icons/cat-slim-tablet.svg");
      position: absolute;
      width: 140px;
      height: 194px;
      bottom: 20px;
      right: 30px;
    }

    &--pro::after {
      background-image: url("../../icons/cat-pro-tablet.svg");
      position: absolute;
      width: 268px;
      height: 112px;
      bottom: 44px;
      right: -33px;
    }
  }
}

.diet-plans__container {
  background-color: $basic-grey;
}

.diet-plans__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 21px 0 29px 20px;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    display: inline-block;
  }

  &::after {
    content: "";
    background-size: contain;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &--slim::after {
    background-image: url("../../icons/cat-slim-mobile.svg");
    position: absolute;
    width: 36px;
    height: 50px;
    left: 8px;
    bottom: 4px;
  }

  &--pro::after {
    background-image: url("../../icons/cat-pro-mobile.svg");
    position: absolute;
    width: 67px;
    height: 28px;
    left: -8px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 auto 24px 0;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 62px;
    margin: 0 auto 39px 0;

    &::before {
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      background-image: url("../../icons/cat-slim-desktop.svg");
      width: 70px;
      height: 97px;
      bottom: 8px;
      left: 16px;
    }

    &--pro::after {
      background-image: url("../../icons/cat-pro-desktop.svg");
      width: 134px;
      height: 56px;
      left: -17px;
    }
  }
}


.diet-plans__description {
  font-family: $secondary-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin: 0 33px 38px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 48px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 23px 0;
  }
}

.diet-plans__link {
  display: flex;
  align-items: center;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  margin: 0 20px 22px;
  gap: 15px;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../icons/icon_arrow.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
