.diet-plans__wrap {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
    padding-top: 82px;
  }
}

.diet-plans__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.diet-plans__item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: $basic-grey;
  padding: 23px 20px 22px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: row-reverse;
    padding: 77px 63px 57px 52px;
    gap: 53px;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      background-color: $basic-green;
      border-radius: 50%;
      background-size: contain;
      background-position: center;
      display: inline-block;
      margin-left: auto;
      flex-shrink: 0;
      margin-bottom: 9px;
    }

    &::after {
      content: "";
      background-size: contain;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
    }

    &--slim::after {
      background-image: url("../../icons/cat-slim-tablet.svg");
      position: absolute;
      width: 140px;
      height: 194px;
      top: 81px;
      right: 92px;
    }

    &--pro::after {
      background-image: url("../../icons/cat-pro-tablet.svg");
      position: absolute;
      width: 268px;
      height: 112px;
      right: 29px;
      top: 136px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 60px;
  }
}

.diet-plans__container {
  position: relative;

  @media (max-width: 766px) {
    &::before {
      content: "";
      background-color: #d9d9d9;
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 36px;
    }
  }

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.diet-plans__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto 21px;
  position: relative;

  &::before,
  &::after {
    content: "";
    background-size: contain;
    background-position: center;
    display: inline-block;
  }


  &::before {
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &::after {
    background-repeat: no-repeat;
  }

  &--slim::after {
    background-image: url("../../icons/cat-slim-mobile.svg");
    position: absolute;
    width: 36px;
    height: 50px;
    left: 7px;
    bottom: 3px;
  }

  &--pro::after {
    background-image: url("../../icons/cat-pro-mobile.svg");
    position: absolute;
    width: 67px;
    height: 28px;
    left: -7px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 auto 24px 0;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    gap: 62px;
    margin: 0 auto 39px 0;

    &::before {
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      background-image: url("../../icons/cat-slim-desktop.svg");
      width: 70px;
      height: 97px;
      bottom: 9px;
      left: 15px;
    }

    &--pro::after {
      background-image: url("../../icons/cat-pro-desktop.svg");
      width: 134px;
      height: 56px;
      left: -20px;
      top: 20px;
    }
  }
}

.diet-plans__description {
  font-family: $secondary-font;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 44px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 52px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 27px 0;
    width: 467px;
  }
}

.diet-plans__link {
  display: flex;
  align-items: center;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  margin: 0 1px;
  gap: 14px;
  width: fit-content;

  &:hover {
    &::after {
      background-image: url("../../icons/icon_arrow_long.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("../../icons/icon_arrow_long.svg");
    }
  }

  &::after {
    content: "";
    width: 35px;
    height: 12px;
    background-image: url("../../icons/icon_arrow.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
    margin: 0;
  }
}
