.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__inner-text {
  font-size: 24px;
}

.example__overlay-text {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
