.example {
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    background-image: linear-gradient(to bottom, transparent 619px, $basic-grey 0%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, transparent 135px, $basic-grey 0%);
  }
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    position: relative;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px;
    width: 50%;
  }
}

.example__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 465px;
    padding-top: 70px;
    padding-bottom: 69px;
    margin: 0;
  }
}

.example__results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 31px;
  margin: 0 0 21px;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    gap: 43px;
    justify-content: flex-start;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    gap: 55px 42px;
    margin-bottom: 0;
    width: 465px;
  }
}

.example__results {
  margin: 0;
}

.example__inner-text {
  display: block;
  font-size: 24px;
  text-align: center;
  border: 1px solid $special_grey;
  border-radius: 3px;
  padding: 15px;
  width: 124px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 14px 2px 19px;
    width: 162px;
  }
}

.example__overlay-text {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special_dark-grey;
  display: block;
  padding: 0 12px;
  background-color: $dark-grey;
  width: 88px;
  margin: -8px auto 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
    padding: 0 10px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__expenses {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  & span {
    display: inline-block;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 0 auto;

    & span {
      display: block;
      margin-top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    display: grid;
    grid-template-columns: 174px 90px;
    gap: 63px;
  }
}
