.main-header {
  &--with-background {
    position: relative;

    &::after {
      content: "";
      opacity: 0.85;
      pointer-events: none;
      background-color: #68b738;
      width: 100%;
      height: 53%;
      position: absolute;
      top: 66px;
    }

    &::before {
      content: "";
      background-image: url("../../images/index-background-mobile@2x.jpg");
      background-color: #4e4d4d;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
      height: 53%;
      position: absolute;
      top: 66px;
      right: 0;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--with-background {
      &::after {
        content: "";
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
      }

      &::before {
        content: "";
        background-image: url("../../images/index-background-desktop@2x.jpg");
        background-size: contain;
        background-position: top right;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
  }
}

.main-header__main-navigation {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-bottom: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 74px;
  }
}

.main-header__logo-link {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 13px;
    align-items: center;
  }
}

.main-header__navigation {
  margin-left: auto;
  margin-right: 3px;

  @media (min-width: $desktop-width) {
    width: 478px;
    margin-right: 0;
  }
}

.main-header__logo {
  width: 33px;
  height: 38px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-name {
  width: 101px;
  height: 18px;
  display: block;

  @media (max-width: 766px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__toggle {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    transform: translate(-88%, -52%);
    z-index: 10;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $basic-black;
      transform-origin: left;
      transition: box-shadow 0.3s ease, transform 0.3s ease, left 0.3s ease, color 0.3s ease;
      background-position: center;
      right: 0;
      left: 0;
    }

    &::before {
      left: auto;
      top: 2px;
      box-shadow: 0 8px 0 $basic-black;
    }

    &::after {
      left: auto;
      bottom: 3px;
    }

    &--open::before {
      left: 7px;
      box-shadow: 0 0 0 $basic-black;
      transform: rotate(46deg);
    }

    &--open::after {
      left: 7px;
      transform: rotate(-47deg);
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav-list {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $basic-white;
  z-index: 5;
  color: $basic-black;

  &--open {
    display: block;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    gap: 35px;
    background-color: transparent;

    &--with-background {
      color: $basic-black;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 33px;

    &--with-background {
      color: $basic-white;
    }
  }
}

.main-header__nav-item {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;


  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.main-header__nav-link {
  text-decoration: none;
  margin: 0;
  color: inherit;
  display: block;
  padding: 22px 0 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0 8px;
    position: relative;

    &[aria-current="page"]::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--with-background[aria-current="page"]::after {
      background-color: $basic-white;
    }
  }
}
