.page-footer {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: #f2f2f2;
  }
}

.page-footer__map {
  width: 100%;
  height: 362px;
  z-index: 1;
  background-color: $basic-grey;
  background-image: url("../../images/map_mobile@2x.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../images/map_tablet@2x.webp");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/map_desktop@2x.webp");
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  background-color: $basic-grey;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 55px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 66px;
  }
}

.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @media (max-width: $tablet-width) {
    padding: 20px 0;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      border-bottom: none;
    }
  }
}

.page-footer__logo-name {
  color: inherit;
  width: 128px;
  height: 24px;

  &:hover svg {
    fill: #3e3e3e;
  }

  &:active svg {
    fill: #6b6b6b;
  }
}

.page-footer__partner {
  @media (max-width: 766px) {
    align-items: center;
    position: relative;
  }
}

.page-footer__partner-link {
  font-family: $secondary-font;
  line-height: 34px;
  display: flex;
  color: $special_dark-grey;
  text-decoration: none;
  gap: 23px;
  margin-left: auto;

  &::after {
    content: "";
    display: inline-block;
    width: 27px;
    height: 34px;
    background-color: #666666;
    mask-image: url("../../icons/footer-logo-htmlacademy.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover {
    color: $special_dark-grey;

    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-color: $basic-green;
      opacity: 0.3;
    }
  }

  @media (max-width: $tablet-width) {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
