.product-cards__link {
  text-decoration: none;
}

.product-cards__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.product-cards__description {
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  font-weight: 400;
  text-transform: uppercase;
}

.product-cards__parameter,
.product-cards__value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}
