.show-more {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: none;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 38px;
    margin-top: 83px;
    border: 2px solid $basic-grey;
  }
}

.show-more__plus {
  margin-bottom: 23px;
  position: relative;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
  }

  &::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }

  &::after {
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0 0 8px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 170px;
    margin-bottom: 23px;
  }
}

.show-more__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special_dark-grey;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 23px;
  }
}

.show-more__button {
  padding: 10px 0;
  width: 100%;
  background-color: $basic-grey;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: $special_dark-grey;
  }
}
