.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-top: 2px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    background-color: #666666;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:active::before {
    background-color: $basic-green;
    opacity: 0.3;
  }

  &--vk::before {
    mask-image: url("../../icons/vkontakte.svg");
  }

  &--youtube::before {
    mask-image: url("../../icons/youtube.svg");
  }

  &--telegram::before {
    mask-image: url("../../icons/telegram.svg");
  }
}
